body {
    background-color: black;
    color: rgb(231, 231, 231);
    /* display: flex;
    justify-content: center;
    align-items: center; */
    height: 100vh;
    margin: 0;
    font-family: "Space Mono", monospace;
}

main {
    width: 80vw;
    height: 100vh;
    margin: 0 auto;
    /* background-color: rgb(26, 26, 26); */
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    width: 100%;
}

@keyframes fade-out-page {
    from {
        transform: translate(0);
        opacity: 1;
    }
    to {
        transform: translateY(-50vh);
        opacity: 0;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slide-up {
    from {
        transform: translateY(30px); /* Adjust as needed */
    }
    to {
        transform: translateY(0);
    }
}

@keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(5px); }
    100% { transform: translateY(0px); }
}


/* PAGE 1 */

#next {
    animation: float 2s 4s ease-in-out infinite;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* background-color: rgb(14, 14, 14) ; */
    width: 50%;
    margin: 0 auto;
    padding: 10px;
    cursor: pointer;
}

#page1 {
    animation: fade-out-page 1.5s;
    animation-play-state: paused;
    animation-fill-mode: forwards;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 0 auto; */
}

#welcome,
#arrow,
#click1,
#description-page1 {
    position: relative;
}

#description-page1 {
    opacity: 0;
    animation: fade-in 1.5s 1s, slide-up 2s 1s;
    animation-fill-mode: forwards;
    overflow: hidden;
    width: 100%;
    margin: 5px auto;
    text-align: center;
}

#welcome {
    text-align: center;
    color: rgb(20, 148, 20);
    font-size: 3rem;
    animation: fade-in 2s, slide-up 2s;
    text-shadow: 10px 10px #010c01;
}

#click1 {
    opacity: 0;
    text-align: center;
    animation: fade-in 3s 3s, slide-up 2s 3s;
    animation-fill-mode: forwards;
}

#arrow {
    opacity: 0;
    text-align: center;
    animation: fade-in 3s 2s, slide-up 3s 2s;
    animation-fill-mode: forwards;    
}


/* PAGE 2 */

#page2 {
    animation: fade-out-page 1.5s;
    animation-play-state: paused;
    animation-fill-mode: forwards;
    display: flex;
    align-items: start;
}

#description-page2 {
    text-align: center;
}