::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    background: #222222;
}

::-webkit-scrollbar-thumb {
    background: rgb(20, 148, 20);
    background: #525252;
}

body {
    background-color: black;
    /* color: #a7a7a7; */
    color: #ffffff;
    height: 100vh;
    width: 100vw;
    margin: 0;
    font-family: "Space Mono", monospace;
    overflow-x: hidden;
}

.hacker-green {
    color: rgb(20, 148, 20);
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    overflow-wrap: break-word;
    /* background-color: rgb(26, 26, 26); */
}
section {
    width: 80%;
}

@keyframes fade-out-page {
    from {
        transform: translate(0);
        opacity: 1;
    }
    to {
        transform: translateY(-50vh);
        opacity: 0;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slide-right {
    from {
        transform: translateX(-15px);
    }
    to {
        transform: translateX(0);
    }
}


@keyframes slide-up {
    from {
        transform: translateY(30px); /* Adjust as needed */
    }
    to {
        transform: translateY(0);
    }
}

@keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(5px); }
    100% { transform: translateY(0px); }
}


/* PAGE 1 */

#next {
    animation: float 2s 4s ease-in-out infinite;
    /* background-color: rgb(14, 14, 14) ; */
    /* width: 50%; */
    margin: 0 auto;
    padding: 0;
    width: 100px;
    height: 50px;
    flex-direction: column;
    cursor: pointer;
}


#page1 {
    animation: fade-out-page 1.5s;
    animation-play-state: paused;
    animation-fill-mode: forwards;
    text-align: center;
    /* margin: 0 auto; */
}

#welcome,
#arrow,
#click1,
#description-page1 {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
}

#description-page1 {
    opacity: 0;
    animation: fade-in 1.5s 1s, slide-up 2s 1s;
    animation-fill-mode: forwards;
    overflow: hidden;
    width: 100%;
    margin: 5px auto;
    text-align: center;
}

#welcome {
    /* color: rgb(22, 197, 22); */
    font-size: 3rem;
    animation: fade-in 2s, slide-up 2s;
    text-shadow: 10px 10px #010c01;
    max-width: 100%;
}

#click1 {
    opacity: 0;
    text-align: center;
    animation: fade-in 3s 3s, slide-up 2s 3s;
    animation-fill-mode: forwards;
}

#arrow {
    opacity: 0;
    text-align: center;
    animation: fade-in 3s 2s, slide-up 3s 2s;
    animation-fill-mode: forwards;    
}


/* PAGE 2 */

.page2 {
    animation: fade-out-page 1.5s;
    animation-play-state: paused;
    animation-fill-mode: forwards;
    align-items: start;
    height: 100vh;
}

.goBackButton {
    animation: fade-in 2s, slide-right 2s;
    display: none;
    position: fixed;
    top: 3%;
    left: 10%;
    z-index: 9999;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.big-container {
    height: 75%;
}

#description-container {
    width: 100%;
}
#description-page2 {
    /* color: rgb(20, 148, 20); */
    /* color: rgb(22, 197, 22); */
    text-shadow: 10px 10px #010c01;
    text-align: center;
}

#scroll {
    position: absolute;
    top: 80%;
    animation: slide-up 3s, fade-in 2.5s, float 2s 3.5s ease-in-out infinite;
    animation-play-state: paused;
} 